#todo-list-app {
  width: 500px;
  border: 1px #ccc solid;
  padding: 5px 15px;
}

#todo-list {
  width: 490px;
  list-style: none;
  padding: 0;
}

#todo-list {
  width: 490px;
  list-style: none;
  padding: 0;
}

#todo-list li {
  padding: 5px 0;
}

#todo-list li:nth-child(odd){
  background-color: #efefef;
}

#todo-list li input {
  margin-right: 5px;
}

.complete {
  text-decoration: line-through;
  color: #CCC;
}
